<?xml version="1.0"?>
<robot name="kobuki_mod"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Defines the kobuki component tag. -->
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  
  
  <!-- Add the body  -->
  
  <link name="body_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.15"/>
      </geometry>
      <material name="green">
        <color rgba="0.0 0.8 0.0 1"/>
      </material>
    </visual>
  </link>
  
  <joint name="body_joint" type="fixed">
    <axis xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="body_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.4"/>
  </joint>
  
  
  <!-- Add RPlidar link and joint -->
  <link name="laser_scan">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  <joint name="laser_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
    <parent link="body_link"/>
    <child link="laser_scan"/>
  </joint>
  
  <!-- Add RPlidar sensor for gazebo -->
  <gazebo reference="laser_scan">
    <sensor type="gpu_ray" name="head_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-3.141593</min_angle>
            <max_angle>3.141593</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>6.0</max> 
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin 
        name="gazebo_ros_head_hokuyo_controller" 
        filename="libgazebo_ros_gpu_laser.so">
        <topicName>/scan</topicName>
        <frameName>laser_scan</frameName>
      </plugin>
    </sensor>
  </gazebo>
  
  <kobuki/>
  
</robot>
