<!-- Launcher dedicated to loading parameters 

Enables parameters to be relaunched remotely during testing

-->

<launch>
  <rosparam 
      file="$(find runners)/param/teb_local_planner_params.yaml" 
      command="load" 
      ns="/move_base" />
    <rosparam 
      file="$(find runners)/param/costmap_converter_params.yaml" 
      command="load"
      ns="/move_base" />
  <rosparam 
      file="$(find runners)/param/executive_planner_params.yaml" 
      command="load" 
      ns="/runners" />
</launch>
